.sign-up{
  display: flex;
  flex-direction: column;
  width: 380px;

  @media screen and (max-width:400px) {
    padding: 10px;
    width: 94vw;
  }

  .title{
    margin: 10px 0px;
  }

  .buttons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
    @media screen and (max-width:500px) {
      flex-direction: column;
    }

    
  }

}
